.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 8%;
    position: relative;
}

.navbar .container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;
}

.navbar .container .logo{
    cursor: pointer;
    color: var(--advisor-theme-main-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navbar .container .logo li{
    list-style: none;
    line-height: 40px;
}

.navbar .menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar .menu .items{
    line-height: 40px;
    margin-right: 1.5rem;
}

.navbar .container .logo li::after,
.navbar .items::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease;
}

.navbar .container .logo li:hover::after,
.navbar .menu .items:hover::after{
    width: 100%;
    background: var(--advisor-theme-main-color);
}

.navbar .menu .items .links{
    color: var(--advisor-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 2rem;
}

.navbar .nav-icons{
    display: none;
}

@media only screen and (max-width : 768px) {
    .navbar{
    margin: 0 5%;
    }
    .navbar .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120%;
        position: absolute;
        top: 70px;
        left: -130%;
        opacity: 1;
        margin: 0 -10%;
        border-radius: 5px;
        z-index: 100000;
        transition: all 0.5s ease;
    }

    .navbar .menu.active{
        background: var(--advisor-theme-background-color);
        left: 0;
        opacity: 1;
    }

    .navbar .menu .items{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #282828;
        margin: 0px;
        padding: 20px 0px;
    }

    .nav-icons{
        display: block !important;
        color: var(--advisor-theme-main-color);
        cursor: pointer;
    }
}