.ratings-main{
    position: relative;
    height: 100%;
    margin: 0% 8%;
}

.upper{
    margin: 0 -6%;
    display: flex;
    justify-content: center;
    background: var(--advisor-theme-main-color);
    border-radius: 8px;
}

.upper .content{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 2rem 8rem;
}

.upper .content .courseImg{
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.upper .content .courseDetails{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.upper .content .courseNum{
    padding-top: 5rem;
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    transition: 0.5s ease all;
}

.upper .content .courseName{
    padding-top: 6rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    transition: 0.5s ease all;
}

.middle{
    width: 92%;
    height: 50%;
    margin: auto;
    overflow-y: scroll;
    text-align: center;
    padding-bottom: 20px;
    border: 2px solid #555;
    border-radius: 10px;
    border-top: none;
}

.middle .middle-row{
    margin-top: 5%;
    margin-bottom: -5%;
    display: flex;
    justify-content: space-around;
    transition: 0.5s ease all;
}

.middle .middle-row .middle-col{
    width: 40%;
    height: 200px; /* to be removed later */
    background: var(--advisor-theme-main-color);
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}

.middle .middle-row .middle-col .middle-col-upper{
    padding: 10px 0;
    background: #555;
    border-radius: 10px 10px 0 0;
}

.middle .middle-row .middle-col .middle-col-upper h3{
    color: #f0f0f0;
    font-size: 2rem;
}

.middle .middle-row .middle-col p{
    color: #fff;
    font-size: 1.4rem;
    padding: 12px 0;
}

.middle .middle-row .middle-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5)
}

.bottom{
    border: 1px solid transparent;
}

.bottom-row{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    transition: 0.5s ease all;
}

.bottom-left{
    flex-basis: 40%;
}

.bottom-left h3{
    color: #444;
    font-size: 2rem;
    background: #aaa;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
}

.bottom-left h4{
    color: #444;
    font-size: 2rem;
}

.bottom-left .b-ratings{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 18px 20px;
}

.bottom-left .b-ratings .stars{
    color: #ffff00;
}

.bottom-right{
    flex-basis: 60%;
}

.bottom-right .typing-area{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 90px;
    width: calc(100% - 70px);
    font-size: 17px;
    color: #fff;
    background: #555;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    padding: 0 13px;
    outline: none;
}

.typing-area button{
    width: 68px;
    border: none;
    outline: none;
    background: #555;
    color: #ffff00;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

.typing-area button:hover{
    background: var(--advisor-theme-main-color);
}

@media only screen and (max-width : 768px) {
    .upper .content{
        width: 100%;
        padding: 2rem 5rem;
    }
    .upper .content .courseImg{
        width: 100px;
        height: 100px;
        transition: 0.5s ease all;
    }
    .upper .content .courseDetails{
        width: 70%;
    }
    
    .upper .content .courseNum{
        padding-top: 3rem;
        font-size: 1.8rem;
        transition: 0.5s ease all;
    }
    
    .upper .content .courseName{
        padding-top: 4rem;
        font-size: 1.1rem;
        transition: 0.5s ease all;
    }
    .middle .middle-row{
        display: block;
        margin-bottom: 5%;
        transition: 0.5s ease all;
    }
    .middle .middle-row .middle-col{
        width: 80%;
        margin-left: 10%;
        transition: 0.5s ease all;
    }
    .bottom-row{
        display: block;
        transition: 0.5s ease all;
    }
}

@media only screen and (min-width : 769px) and (max-width : 990px) {
    .upper .content{
        width: 100%;
        padding: 2rem 4rem;
    }
    .upper .content .courseImg{
        width: 150px;
        height: 150px;
        transition: 0.5s ease all;
    }
    .upper .content .courseDetails{
        width: 80%;
    }
    
    .upper .content .courseNum{
        padding-top: 4rem;
        font-size: 3rem;
        transition: 0.5s ease all;
    }
    
    .upper .content .courseName{
        padding-top: 5rem;
        font-size: 1.6rem;
        transition: 0.5s ease all;
    }
}